name: Release to PyPI

on:

  release:

    types:
      - created

jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

      - name: Check out code

        uses: actions/checkout@v2


      - name: Set up Python

        uses: actions/setup-python@v2

        with:

          python-version: 3.x # Choose your Python version

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build and publish
        run: |
          python3 setup.py sdist bdist_wheel
          python3 -m twine upload dist/*.tar.gz
        env:

          TWINE_USERNAME: ${{ secrets.PYPI_USER }}
          
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
